*{
    margin: 0px;
    padding: 0px;

}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#guide {
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 368px;
    margin: 0px;
    padding: 0px;
    /* position: absolute;  /* Allows guide to overlay canvas */
    /*pointer-events: none; /* Make pointer events fall back to canvas */
    cursor: pointer;
    touch-action: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.canvas.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 368px; 
    width: 368px;
    margin: 0px;
    padding: 0px;
    border: 1px black solid;
    background-size: 100%;
    cursor: pointer;
    touch-action: none;
}

.row {
    display: flex;
    flex: 1;
    min-width: 0;
    min-height: 0;
    flex-direction: row;
    touch-action: none;
    border: .5px solid rgb(34, 34, 34);
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 0;
    min-height: 0;
    touch-action: none;
    border: .5px solid rgba(34, 34, 34);
}

.box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    height: 518px;
    width: 900px;
    border: 1px black solid;
}

.title-div {
    width: 608px;
    margin: 0px;
    text-align: center;
    align-items: center;
    border: 1px red solid;
}

.pickers,
.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 518px;
}

.pickers {
    justify-content: space-evenly;
    margin: 0;
    width: 200px;
    border: 1px purple solid; 
}

.sketch {
    justify-content: space-between;
    margin: 0;
    border: 1px rgb(48, 37, 198) solid;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* width: 200px; */
    border: 1px darkgrey solid;
}

.canvas-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 402px; 
    width: 608px;
    margin-top: 6px;
} 

.under-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 608px;
    border: 1px red solid;
}

.show-guide {
    border: 1px aquamarine solid;
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: darkgray;
    outline: none;
    opacity: 0.85;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 1px black;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(36, 96, 181);
    border-radius: 50%;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(36, 96, 181);
    border-radius: 50%;
    cursor: pointer; 
}

p {
    margin-top: 6px;
    text-align: center;
}



.toggle {
    display: flex;
    align-items: center;    
    justify-content: center;
}


.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 520px; */
    border: 1px darkgray solid;
} 

button {
    width: 100px;
    height: 58px;
    border-radius: 20px;
}


.footer {
    background-color: #FFF09B;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    padding: 10px;
    width: 100%;
}

.my-info,
.imgAttrib {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    height: 28px;
}

.github-logo {
    width: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
