*{
    margin: 0px;
    padding: 0px;

}

body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 368px; 
    width: 368px;
    margin: 0px;
    padding: 0px;
    border: 1px black solid;
    background-size: 100%;
    cursor: pointer;
}

#guide {
    display: flex;
    flex-direction: column;
    width: 368px;
    height: 368px;
    position: absolute;  /* Allows guide to overlay canvas */
    pointer-events: none; /* Make pointer events fall back to canvas */
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.row {
    display: flex;
    flex: 1;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.box {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    height: 518px;
    width: 900px;
    border: 1px black solid;
}

.title-div {
    width: 608px;
    margin: 0px;
    text-align: center;
    align-items: center;
    border: 1px red solid;
}

.pickers,
.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 518px;
}

.pickers {
    justify-content: space-evenly;
    margin: 0;
    width: 200px;
    border: 1px purple solid; 
}

.sketch {
    justify-content: space-between;
    margin: 0;
    border: 1px rgb(48, 37, 198) solid;
}

.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* width: 200px; */
    border: 1px darkgrey solid;
}

.canvas-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 402px; 
    width: 608px;
    margin-top: 6px;
} 

.under-canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 608px;
    border: 1px red solid;
}

.show-guide {
    border: 1px aquamarine solid;
    margin: 10px;
    font-family: sans-serif;
    font-size: 18px;
}


.toggle {
    display: flex;
    align-items: center;    
    justify-content: center;
}

/* .toggle input {
    opacity: 0;
}

.show {
    margin-right: 10px;
}

.toggle-slide {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    transition: .5s;
    width: 40px;
    height: 20px;
    align-items: center;
}

.toggle-slide::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    border-radius: 5px;
    background-color: rgb(214, 212, 209);
    transition: .5s;
    top: 3px;
    left: 5px;
}

input:checked + .toggle-slide::before {
    transform: translateX(16px);
    background-color:rgb(117, 205, 231)
} */

.clear-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 520px; */
    border: 1px darkgray solid;
} 

button {
    width: 100px;
    height: 58px;
    border-radius: 20px;
}


.footer {
    background-color: #FFF09B;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
    padding: 10px;
    width: 100%;
}

.my-info,
.imgAttrib {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    height: 28px;
}

.github-logo {
    width: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
